@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --primary-color: rgb(44, 143, 255);
    --primary-color-rgb: 44, 143, 255;
    --white: #fff;
    --black: #000;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

header {
    width: 92vw;
    padding: 6vh 4vw;
    position: fixed;
    font-weight: bold;
    background: transparent;
    color: var(--white);
    transition: 0.4s ease-in-out;
    z-index: 2;
}

header table {
    width: 100%;
}

#logo {
    width: 20%;
}

#navigation {
    width: 80%;
}

#magnify {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.92);
    position: fixed;
    z-index: 4;
    display: none;
    flex-direction: column;
    justify-content: center;
}

#magnify h1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 40px;
    color: var(--white);
    transition: 0.4s ease-in-out;
}

#magnify h1:hover {
    color: var(--primary-color);
    cursor: pointer;

}

#img_here {
    width: 90%;
    height: 90%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin: 0px auto;
}

#navigation {
    text-align: right;
}

#navigation a {
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    margin-left: 4vw;
    transition: 0.4s ease-in-out;
}

#navigation a:hover {
    border-bottom: 2px solid var(--white);
}

#top_part {
    width: 100%;
    border: 2vh solid var(--white);
}

#top_part tr td {
    width: 50%;

}

#about {
    width: 84% !important;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0px 8%;
}

#about h1 {
    font-size: 45px;
    word-wrap: break-word;
}

#about table {
    width: 20%;
    margin-top: 4vh;
}

#about table tr td {
    width: 20% !important;
    text-align: left;
}

.social {
    color: var(--primary-color);
    font-size: 23px;
    padding: 12px 17px;
    border-radius: 50%;
    background: transparent;
    transition: 0.4s ease-in-out;
    font-weight: bold;
    margin: 0px 8px;
}

.social:hover {

    cursor: pointer;
    color: var(--white);
    background: var(--primary-color);
    box-shadow: 0px 10px 30px rgba(44, 143, 255, 0.8);
}

.btn_one {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    background: var(--white);
    border: 3px solid var(--primary-color);
    padding: 8px 40px;
    width: 35%;
    border-radius: 80px;
    font-weight: bold;
    margin: 2vh 0px;
    transition: 0.4s ease-in-out;
}

.btn_one:hover {
    box-shadow: 0px 10px 30px rgba(44, 143, 255, 0.8);
    cursor: pointer;
    color: var(--white);
    background: var(--primary-color);
}

#rightImage {
    width: 100%;
    height: 95vh;
    background: url("images/background.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#work {
    width: 92vw;
    padding: 6vh 4vw;
    font-weight: bold;
}

#work h1 {
    padding: 5px 0px;
    border-bottom: 4px solid var(--primary-color);
    width: 6%;
}

#bio {
    width: 92vw;
    padding: 6vh 4vw;
    font-weight: bold;
}

#bio h1 {
    padding: 5px 0px;
    border-bottom: 4px solid var(--primary-color);
    width: 8%;
}

#contact {
    width: 92vw;
    padding: 6vh 4vw;

}

#contact h1 {
    padding: 5px 0px;
    border-bottom: 4px solid var(--primary-color);
    width: 10%;
}

#contact_inner {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#address {
    position: relative;
}

#address_section {
    display: flex;
    gap: 4%;
}

#socials{
    padding: 4vh 0vw;
}

::placeholder {
    color: var(--black);
}

button:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1000px) {
    #rightImage {
        display: none;
    }

    #top_part {
        border: 0px;
    }

    #top_part tr td {
        width: 100%;
        text-align: center;

    }

    #about {
        width: 92% !important;
        height: 75vh;
        padding-top: 20vh !important;
        text-align: center;
        padding: 0px 4%;
    }

    #about table {
        width: 100%;
        margin-top: 6vh;
    }

    #about table tr td {
        text-align: center;
    }

    .btn_one {
        padding: 6px 30px;
        width: 60%;
        margin: 4vh auto;
        box-shadow: 0px 10px 20px rgba(44, 143, 255, 0.8);
        background: var(--primary-color);
        color: var(--white);
    }

    .btn_one:hover {
        box-shadow: 0px 10px 40px rgba(44, 143, 255, 0.8);
        cursor: pointer;
    }

    #work h1 {
        width: 19%;
    }

    #bio h1 {
        width: 25%;
    }

    #contact h1 {
        width: 33%;
    }

    header {
        width: 96vw;
        background: var(--white);
        padding: 4vh 2vw;
        position: absolute;
    }

    #header table tr td {
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px 0px;
    }

    #navigation a {
        color: var(--black);
    }

    #contact_inner {
        flex-direction: column;
        gap:2vh;
    }

    iframe {
        width: 92vw;
    }

}